@model FOS.Shared.ZoneData
@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">


<!-- BEGIN PAGE HEADER-->
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN THEME CUSTOMIZER-->
        <!-- END THEME CUSTOMIZER-->
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        @*<h3 class="page-title"></h3>*@
        @*<ul class="breadcrumb">
            <li>
                <a href="#">Setup</a>
                <span class="divider">/</span>
            </li>
            <li>
                <a href="#">Manage Project</a>
            </li>
        </ul>*@
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
@using (Ajax.BeginForm("AddUpdateProject", "Setup", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)
    <div class="row-fluid">
        <div class="span12">
            <div class="widget green" style="">
                <div class="widget-title">
                    <h4 class="text-center"><strong>Manage Project</strong></h4>
                </div>
                <div class="widget-body">
                    <div class="span12">
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Select Client:*</label>
                                <div class="controls">
                                    @Html.DropDownListFor(model => model.ClientId, new SelectList(Model.Regions, "ID", "Name"), new { @class = "" })
                                    @Html.ValidationMessageFor(model => model.ClientId)

                                </div>
                            </div>
                        </div>
                            <div class="control-group hidden">
                                <label class="control-label">Project ID:*</label>
                                <div class="controls">
                                    <input class="text-box single-line" autocomplete="off" id="ID" name="ID" type="text" value="" placeholder="Enter project Name:">
                                    <span class="field-validation-valid" data-valmsg-for="ID" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Project Name:*</label>
                                <div class="controls">
                                    <input class="text-box single-line" autocomplete="off" id="Name" name="Name" type="text" value="" placeholder="Enter project Name:">
                                    <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">SAP NO:</label>
                                <div class="controls">
                                    <input class="text-box single-line" autocomplete="off" id="SapNo" name="SapNo" type="text" value="" placeholder="Enter Sap No:">
                                    <span class="field-validation-valid" data-valmsg-for="SapNo" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span12" style="margin-left:0px;">
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">AO No:</label>
                                <div class="controls">
                                    <input class="text-box single-line" autocomplete="off" id="AONO" name="AONO" type="text" value="" placeholder="Enter AO No:">
                                    <span class="field-validation-valid" data-valmsg-for="AONO" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Contract No:</label>
                                <div class="controls">
                                    <input class="text-box single-line" autocomplete="off" id="ContractNo" name="ContractNo" type="text" value="" placeholder="Enter Contract No:">
                                    <span class="field-validation-valid" data-valmsg-for="ContractNo" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="span4">

                            <div class="control-group">
                                <label class="control-label">Contract Title:</label>
                                <div class="controls">
                                    <input class="text-box single-line" autocomplete="off" id="ContractTitle" name="ContractTitle" type="text" value="" placeholder="Enter Contract Title:">
                                    <span class="field-validation-valid" data-valmsg-for="ContractTitle" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span12" style="margin-left:0px;">
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Award Date:</label>
                                <div class="controls">
                                    <input class="text-box single-line" autocomplete="off" id="AwardDate" name="AwardDate" type="text" value="" placeholder="Enter Award Date:(DD-MM-YY)">
                                    <span class="field-validation-valid" data-valmsg-for="AwardDate" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Duration:</label>
                                <div class="controls">
                                    <input class="text-box single-line" autocomplete="off" id="Duration" name="Duration" type="text" value="" placeholder="Enter Duration:">
                                    <span class="field-validation-valid" data-valmsg-for="Duration" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Date From:</label>
                                <div class="controls">
                                    <input class="text-box single-line" autocomplete="off" id="DateFrom" name="DateFrom" type="text" value="" placeholder="Enter Date From:(DD-MM-YY)">
                                    <span class="field-validation-valid" data-valmsg-for="DateFrom" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span12" style="margin-left:0px;">
                        <div class="control-group">
                            <label class="control-label"> Date To:</label>
                            <div class="controls">
                                <input class="text-box single-line" id="DateTo" autocomplete="off" name="DateTo" type="text" value="" placeholder="Enter Date To:(DD-MM-YY)">
                                <span class="field-validation-valid" data-valmsg-for="DateTo" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>





                    <div class="span12" style="margin-left:0px;">
                        <div class="control-group" style="border-top: 1px solid #e5e5e5;">
                            <div class="form-actions text-center" style="padding-left:0px;">
                                <button type="submit" id="btnNew" class="btn btn-primary">
                                    <i class="icon-ok icon-white" style="padding-right:8px"></i><span id="create">Create</span>
                                </button>
                                <button type="button" id="btnRefresh" class="btn btn-info"><i class="icon-ban-circle icon-white" style="padding-right:8px"></i>Reset</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->
        </div>
    </div>
}

<!-- BEGIN EDITABLE TABLE widget-->
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN EXAMPLE TABLE widget-->
        <div class="widget green">
            <div class="widget-title">
                <h4 class="text-center"><strong>All Projects Detail</strong></h4>
                <span class="tools">
                    @*<a href="javascript:;" class="icon-chevron-down"></a>*@
                    @*<a href="javascript:;" class="icon-remove"></a>*@
                </span>
            </div>
            <div class="widget-body">
                <div>
                    <div class="clearfix">
                        @*<div class="btn-group">
                                <button id="editable-sample_new" class="btn green">
                                    Add New <i class="icon-plus"></i>
                                </button>
                            </div>*@
                        <div class="btn-group pull-right"></div>
                    </div>
                    <div class="space15"></div>
                    <table class="table table-striped table-hover table-bordered" id="datatab" style="width: 100%;">
                        <thead>
                            <tr class="align-center" style="background-color:#1969b1; color:white;">
                                <th>Sr No</th>
                                <th>Client Name</th>
                                <th>Project Name</th>
                                <th>Sap No</th>
                                <th>AO No</th>
                                <th>Contract No</th>
                                <th>Contract Title</th>
                                <th>Created On</th>
                                <th>Award Date</th>
                                <th>Date From</th>
                                <th>Date To</th>
                                <th>Duration</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE widget-->
    </div>
</div>
<!-- END EDITABLE TABLE widget-->

<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script>


    $(document).ready(function () {

        $('#DateFrom').css({ "height": "22px", "width": "202px", "margin-bottom": "0px" });
        $('#DateFrom').datepicker({ dateFormat: "dd-M-yy" });
        $('#DateFrom').trigger('change');

        $('#AwardDate').css({ "height": "22px", "width": "202px", "margin-bottom": "0px" });
        $('#AwardDate').datepicker({ dateFormat: "dd-M-yy" });
        $('#AwardDate').trigger('change');

        $('#DateTo').css({ "height": "22px", "width": "202px", "margin-bottom": "0px" });
        $('#DateTo').datepicker({ dateFormat: "dd-M-yy" });
        $('#DateTo').trigger('change');

    });


    function GenerateDetailGrid() {

        //$('#datatab tfoot th').each(function () {
        //    $(this).html('<input type="text" />');
        //});
        var oTable = $('#datatab').DataTable({
            "aLengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
            "iDisplayLength": 10,
            "paging": true,
            "pagingType": "full_numbers",
            "serverSide": true,
            "bRetrieve": true,
            "bDestroy": true,
            "autoWidth": true,
            "ajax":
            {
                "type": "POST",
                "url": '@Url.Action("ProjectDataHandler", "Setup")',
                "contentType": 'application/json; charset=utf-8',
                'data': function (data)
                {
                    data.RegionID = $('#ClientId').val();
                    return data = JSON.stringify(data);

                },

            },
            "fnDrawCallback": function (osetting) {

                var UpdateCheck = "0";
                var DeleteCheck = "0";

                if (UpdateCheck == "@HttpContext.Current.Session["UpdateCheck"]") { $(".edit").css("display", "none"); }
                else {
                    $(".edit").on("click", function () {

                        ClearForm();
                        $('#create').text('Update');

                        var CityID = $(this).attr("data-id");

                        try
                        {
                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("GetEditProjects", "Setup")",
                                data: { CityID: CityID },

                                success: function (Response) {
                                    debugger;
                                    if (Response != null) {
                                        $('#ID').val(Response.ID);
                                        $("#Name").val(Response.Name);
                                        $("#SapNo").val(Response.SapNo);
                                        $("#CreatedOn").val(Response.CreatedOn);
                                        $("#AONO").val(Response.AONO);
                                        $("#ContractNo").val(Response.ContractNo);
                                        $("#ContractTitle").val(Response.ContractTitle);
                                        $("#Duration").val(Response.Duration);
                                        $("#AwardDate").val(Response.AwardDate);
                                        $("#DateTo").val(Response.DateTo);
                                        $("#DateFrom").val(Response.DateFrom);

                                        $('html, body').animate({
                                            scrollTop: $("#main-content").offset().top
                                        }, 500);

                                        $("#RegionID").focus();

                                    }
                                    else { alertify.error('Server Is Not Responding.'); }
                                }
                            });
                        }
                        catch (ex) { }

                    });
                }

                if (UpdateCheck == "@HttpContext.Current.Session["DeleteCheck"]") { $(".delete").css("display", "none"); }
                    else {
                        $(".delete").on("click", function () {

                            var CityID = $(this).attr("data-id");

                            // confirm dialog
                            alertify.confirm("Are You Sure You Want To Delete This Record ?  ", function (e) {
                                if (e) {

                                    $.ajax({
                                        type: "POST",
                                        url: "@Url.Action("DeleteProjects", "Setup")",
                                        data: { cityID: CityID },
                                        success: function (data) {

                                            if (data == "0") {
                                                alertify.success('Record Deleted Successfully');
                                                var table = $('#datatab').DataTable();
                                                table.row(this).remove().draw(false);
                                            }

                                            else { alertify.error('This City Assign To Someone, First Delete That Then You Can Able To Delete This City.'); }
                                        }

                                    });

                                } else { }
                            });

                        });
                    }

                },
                "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                    $("td:first", nRow).html(iDisplayIndex + 1);
                    return nRow;
                },
                "oLanguage": { "sSearch": "Search Project : " },
                "sDom": 'lftipr',
                "processing": true,
                "deferRender": true,
                "bSelect": true,
                "columns": [
               { "data": "ID" , "sClass": "center-align-td"},
               { "data": "ClientName", "sClass": "center-align-td"},
               { "data": "Name" ,"sClass": "center-align-td"},
               { "data": "SapNo", "sClass": "center-align-td" },
               { "data": "AONO", "sClass": "center-align-td" },
               { "data": "ContractNo", "sClass": "center-align-td" },
               { "data": "ContractTitle", "sClass": "center-align-td" },
               { "data": "CreatedOn", "sClass": "center-align-td" },
               { "data": "AwardDate", "sClass": "center-align-td" },
               { "data": "DateFrom", "sClass": "center-align-td" },
               { "data": "DateTo", "sClass": "center-align-td" },
               { "data": "Duration", "sClass": "center-align-td" },

               {
                   "sClass": "center-align-td",
                   "mData": null,
                   "bSortable": false,
                   "mRender": function (data, type, row) {
                       return '<button class="btn btn-success edit" data-id=' + row.ID + '>' + '<i class=icon-pencil></i>' + '</button>&nbsp;<button class="btn btn-info delete" data-id=' + row.ID + '>' + '<i class=icon-trash></i>' + '</button>';
                   }
               }
                ],
                "order": [3, "dec"]

            });

        }

        $(document).ready(function () {

            $("#liSetup,#liCity").addClass("active");

            var WriteCheck = "0";

            if (WriteCheck == "@HttpContext.Current.Session["WriteCheck"]") {
            // $("#btnNew").css("display", "none");
            $("#btnNew").attr("disabled", true);
        }
        else {
            }



            $("#ClientId").change(function () {
            $('#Name').val('');
            $('#CityCode').val('');
            $('#ShortCode').val('');
            $('#datatab').dataTable().fnDestroy();
            GenerateDetailGrid();

        });

        $("#btnRefresh").click(function () {
            ClearForm();
        });

        GenerateDetailGrid();

    });
</script>
<script type="text/javascript">

    function ClearForm() {
        $('#Name').val("");
        $('#SapNo').val("");
        $('#DateFrom').val("");
        $('#DateTo').val("");
        $('#Duration').val("");
        $('#ContractTitle').val("");
        $('#ContractNo').val("");
        $('#AONO').val("");
        $('#AwardDate').val("");
        $('#Create').text('Create');
    }

    function OnSuccess(response) {
        if (response == "1") {
            alertify.success("Project Saved Successfully.");
            $('#create').text('Create');
            var dt = $('#datatab').DataTable();
            dt.ajax.reload();
            ClearForm();
        }
        else if (response == "0") {
            alertify.error("Unable To Save Project  .");
        }
        else if (response == "2") {
            alertify.error("City Code Already Exist");
        }
        else {
            alertify.error(response);
        }

    }

    function OnFailure(response) {
        if (response.status == 422) {
            var errors = JSON.parse(response.responseText);
            alertify.error(errors.errors);
        }
        else {
            alertify.error(response);
        }
    }
</script>