 
 @{
        ViewBag.Title = "Retailer";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


    <style>
       #map {
            width: 100%;
            height: 535px;
      }
    </style>


<!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN THEME CUSTOMIZER-->

            <!-- END THEME CUSTOMIZER-->
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title"></h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Consumer</a>
                    <span class="divider">/</span>
                </li>
                <li>
                    <a href="#">Bill Reading Map View</a>
                </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>

    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">


            <div class="control-group" style="margin-bottom:0px;float:left;margin-left:12px">
                <label class="control-label">DDR</label>
                <div class="controls" style="margin-left:0px">

                    <select class="form-control chosen-select" id="city" style="width: 190px;">
                        <option value="0">Select Any</option>
                        @{
                            foreach (FOS.Shared.CityData obj in ViewBag.City)
                            {
                                <option value="@obj.ID">@obj.Name</option>
                            }
                        }
                    </select>

                </div>
            </div>

            <div class="control-group" style="margin-bottom:0px;float:left;margin-left:12px">
                <label class="control-label">WARD</label>
                <div class="controls" style="margin-left:0px">

                    <select class="form-control chosen-select" id="ward" style="width: 190px;">
                        <option value="0">Select Any</option>
                        @{
                            foreach (FOS.Shared.CityData obj in ViewBag.Area)
                            {
                                <option value="@obj.ID">@obj.Name</option>
                            }
                        }
                    </select>

                </div>
            </div>




            <div class="control-group" style="margin-bottom:0px;float:left;margin-left:12px">
                <table style="padding-left:10px" border="1">
                    <tr>
                        <td>Total Consumers: </td>
                        <td><span id="totalRet">&nbsp;&nbsp;</span></td>
                    </tr>
                    <tr>
                        <td>Meter Reding: </td>
                        <td><span id="tagRet">&nbsp;&nbsp;</span></td>
                    </tr>

                </table>

            </div>

        </div>
    </div>

      <div class="row-fluid" style="min-height: 1225px;"> @*onload="initialize()">*@

            <div class="span12" style="margin-top:12px">
                <!-- BEGIN SAMPLE FORMPORTLET-->
                <div class="widget blue">
                    <div class="widget-body" style="padding:5px">

                         <div class="map" id="map"></div>

                    </div>
               </div>
           </div>
    </div>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7X3GhN_ShrwYqU1Wc0gJbX3CMOMPZIs4"></script>
<script type="text/javascript">

    function exportRpt(type) {
        var RegionalHeadID = $("#regionalHead").val();
        var DealerID = $("#dealer").val();
        var SaleOfficerID = $("#saleOfficer").val();
        var CityID = $("#city").val();
        var ZoneID = $("#zone").val();
        window.location = '/Retailer/ExportToCSV?rptType='+type+'&regHdId=' + RegionalHeadID + '&distId=' + DealerID + '&soId=' + SaleOfficerID + '&cityId=' + CityID + '&zoneId=' + ZoneID;
    }

    function GetPins() {

        locations = [];

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetMeterReadingLocationsByAllFilters", "Retailer")",
            dataType: 'json',
            data: {
                RegionalHeadID: $("#regionalHead").val(),
                DealerID: $("#dealer").val(),
                SaleOfficerID: $("#saleOfficer").val(),
                RegionID: $("#subdiv").val(),
                CityID: $("#city").val(),
                ZoneID: $("#ward").val()
            },
            success: function (json) {

                locations = [];
                location2 = [];
                location3 = [];

                $.each(json, function (value, key) {
                    debugger;



                        var array = key.Location.split(",");
                    locations.push("" + key.ShopName + "," + array[0] + "," + array[1] + "," + key.Address + "," + key.SaleOfficerName + "," + key.Name + "," + key.MultiSelectID + "," + key.LatitudeForMultiselect + "," + key.LongitudeForMultiselect + "," + key.ClientID + "," + key.TotalConsumers +"");




                });

                var marker, i;
                var marker1, j;

                var myOptions = {
                    center: new google.maps.LatLng(31.4265, 74.4538),
                    zoom: 9,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                var map = new google.maps.Map(document.getElementById("map"),
                    myOptions);

                var markers = []; //array for all markers
                var count1 = Object.keys(json).length;
                for (i = 0; i < locations.length; i++) {
                    var array = locations[i].split(",");
                    if (array[6] == 1 || array[6] == "null") {
                        var name = array[0];
                        var lat = array[1];
                        var long = array[2];
                        var add = array[3];
                        var clientId = array[9];
                        var phone1 = array[4];
                        var retName = array[5];
                        var Id = array[6];
                        var count = array[10];
                    }
                    else if (array[6] == 8) {
                        var name = array[0];
                        var lat = array[7];
                        var long = array[8];
                        var add = array[3];
                        var clientId = array[9];
                        var phone1 = array[4];
                        var retName = array[5];
                        var Id = array[6];
                        var count = array[10];
                    }
                    else
                    {
                        var name = array[0];
                        var lat = array[7];
                        var long = array[8];
                        var add = array[3];
                        var clientId = array[9];
                        var phone1 = array[4];
                        var retName = array[5];
                        var Id = array[6];
                        var count = array[10];
                    }


                    latlngset = new google.maps.LatLng(lat, long);

                    if (Id == 1 || Id == "null") {
                        var marker = new google.maps.Marker({
                            map: map, title: name, position: latlngset,
                            animation: google.maps.Animation.DROP,
                            icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
                        });
                    }

                    else if (Id == 8)
                    {
                        var marker = new google.maps.Marker({
                            map: map, title: name, position: latlngset,
                            animation: google.maps.Animation.DROP,
                            icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
                        });
                    }
                    else {
                        var marker = new google.maps.Marker({
                            map: map, title: name, position: latlngset,
                            animation: google.maps.Animation.DROP,
                            icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
                        });
                    }

                    markers.push(marker);

                    map.setCenter(marker.getPosition())

                    var content = "<b> " + name + " </b><br/>"
                        + retName + "<br/>"
                        + clientId + "<br/>"
                                    + lat + " , " + long + "<br/>"
                                    + phone1 + "<br/>"
                                    + add;
                    var infowindow = new google.maps.InfoWindow()

                    google.maps.event.addListener(marker, 'click', (function (marker, content, infowindow) {
                        return function () {
                            infowindow.setContent(content);
                            infowindow.open(map, marker);
                        };
                    })(marker, content, infowindow));
                }


                $('#totalRet').text('(' + count + ')');
                $('#tagRet').text('(' + count1 + ')');
                //// map For New Consumers
                //debugger;
                //if (location2.length != 0) {
                //    var myOptions1 = {
                //        center: new google.maps.LatLng(31.4265, 74.4538),
                //        zoom: 9,
                //        mapTypeId: google.maps.MapTypeId.ROADMAP
                //    };

                //    var map1 = new google.maps.Map(document.getElementById("map"),
                //        myOptions1);

                //    var markers1 = []; //array for all markers

                //    for (j = 0; j < location2.length; j++) {
                //        var array = location2[j].split(",");
                //        var name = array[0];
                //        var lat = array[1];
                //        var long = array[2];
                //        var add = array[3];
                //        var phone1 = array[4];
                //        var retName = array[5];

                //        latlngset = new google.maps.LatLng(lat, long);

                //        var marker1 = new google.maps.Marker({
                //            map1: map1, title: name, position: latlngset,
                //            animation: google.maps.Animation.DROP
                //        });

                //        markers1.push(marker1);

                //        map1.setCenter(marker1.getPosition())

                //        var content = "<b> " + name + " </b><br/>"
                //            + retName + "<br/>"
                //            + lat + " , " + long + "<br/>"
                //            + phone1 + "<br/>"
                //            + add;
                //        var infowindow = new google.maps.InfoWindow()

                //        google.maps.event.addListener(marker1, 'click', (function (marker1, content, infowindow) {
                //            return function () {
                //                infowindow.setContent(content);
                //                infowindow.open(map, marker1);
                //            };
                //        })(marker1, content, infowindow));
                //    }


                //}
            },
            async: true
        });


    }

    $(document).ready(function () {

        function LoadDealers() {

            var RegionalHeadID = $("#regionalHead").val();
            try {
                $.ajax({
                    type: "POST",
                    data: { RegionalHeadID: RegionalHeadID },
                    url: "@Url.Action("GetAllDealersListRelatedToRegionalHeadSelectOption", "Dealer")",
                    success: function (json) {

                        var $el = $("#dealer");
                        $el.empty(); // remove old options
                        $.each(json, function (value, key) {
                            $el.append($("<option></option>")
                                    .val(key.ID).text(key.Name));
                        });
                    }

                });
            } catch (e) {
            }

        }

        function LoadSalesOfficer() {

            try {
                var RegionalHeadID = $("#regionalHead").val();
                //alert(RegionalHeadID);
                $.ajax({
                    type: "POST",
                    data: { RegionalHeadID: RegionalHeadID },
                    url: "@Url.Action("GetAllSaleOfficerSelectOption", "Job")",
                    success: function (json) {

                        var $el = $("#saleOfficer");
                        $el.empty(); // remove old options
                        $.each(json, function (value, key) {

                            $el.append($("<option></option>")
                                    .val(key.SaleOfficerID).text(key.SaleOfficerName));
                        });

                        if ($('#saleOfficer').val() != null) {
                            //$("#external-events").empty();
                            //LoadSOCities($('#SaleOfficerID').val());
                            GetPins();
                        }
                    }

                });
            } catch (e) {
                alert(e);
                //  $('#datatab').dataTable().fnDestroy();
            }

        }

        $("#liRetailer,#liRetailerMapView").addClass("active");

        var locations = [];
        var DealerID;
        var SaleOfficerID;
        var RegionalHeadID;
        var RegionID;
        var CityID;

        //GetPins();

        var myOptions = {
            center: new google.maps.LatLng(31.4265, 74.4538),
            zoom: 9,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("map"),
            myOptions);

        // Dealer
        $("#regionalHead").change(function () {
            LoadSalesOfficer();
            LoadDealers();


            // Get Dealer list related To Regional Head...

            @*$.ajax({
                type: "POST",
                data: { RegionalHeadID: $(this).val() },
                url: "@Url.Action("GetAllDealersListRelatedToRegionalHead", "Retailer")",
                success: function (json) {

                    var $el = $("#dealer");
                    $el.empty(); // remove old options
                    $.each(json, function (value, key) {

                        $el.append($("<option data-RegionalHeadID='" + key.RegionalHeadID + "'></option>")
                                .val(key.ID).text(key.Name));
                    });

                    $("#dealer").trigger('change');

                }

            });*@

        });


        // Dealer
        $("#dealer").change(function () {

            GetPins();

            /*locations = [];

            $.ajax({
                type: "POST",
                url: "Url.Action("GetRetailerLocationsByDealer", "Retailer")",
                dataType: 'json',
                data: { DealerID: $("#dealer").val() },
                success: function (json) {

                    locations = [];

                    $.each(json, function (value, key) {

                        var array = key.Location.split(",");
                        locations.push("" + key.ShopName + "," + array[0] + "," + array[1] + "," + key.Address + "");
                        //alert(locations);
                    });
                    //alert(locations);
                    var marker, i

                    var myOptions = {
                        center: new google.maps.LatLng(31.4265, 74.4538),
                        zoom: 9,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };

                    var map = new google.maps.Map(document.getElementById("map"),
                        myOptions);

                    for (i = 0; i < locations.length; i++) {
                        var array = locations[i].split(",");
                        var name = array[0]
                        var lat = array[1]
                        var long = array[2]
                        var add = array[3]

                        latlngset = new google.maps.LatLng(lat, long);

                        var marker = new google.maps.Marker({
                            map: map, title: name, position: latlngset,
                            animation: google.maps.Animation.DROP
                        });
                        map.setCenter(marker.getPosition())

                        var content = "(<b> " + name + " </b>)" + add;
                        var infowindow = new google.maps.InfoWindow()

                        google.maps.event.addListener(marker, 'click', (function (marker, content, infowindow) {
                            return function () {
                                infowindow.setContent(content);
                                infowindow.open(map, marker);
                            };
                        })(marker, content, infowindow));

                    }




                },
                async: true
            });
            */

            // Get SaleOfficer list related To Dealers...

            @*$.ajax({
                type: "POST",
                data: { DealerID: $(this).val() },
                url: "@Url.Action("GetAllSaleOfficerListRelatedToDealer", "Job")",
                success: function (json) {

                    var $el = $("#saleOfficer");
                    $el.empty(); // remove old options
                    $.each(json, function (value, key) {

                        $el.append($("<option data-RegionalHeadID='" + key.RegionalHeadID + "'></option>")
                                .val(key.SaleOfficerID).text(key.SaleOfficerName));
                    });

                    $("#saleOfficer").trigger('change');

                }

            });*@

        });

        // Sales Officer
        $("#saleOfficer").change(function () {

            GetPins();
            /*
            locations = [];

            $.ajax({
                type: "POST",
                url: "Url.Action("GetRetailerLocationsBySaleOfficer", "Retailer")",
                dataType: 'json',
                data: { SaleOfficerID: $(this).val() },
                success: function (json) {

                    locations = [];

                    $.each(json, function (value, key) {

                        var array = key.Location.split(",");
                        locations.push("" + key.ShopName + "," + array[0] + "," + array[1] + "," + key.Address + "");
                        //alert(locations);
                    });
                    //alert(locations);
                    var marker, i

                    var myOptions = {
                        center: new google.maps.LatLng(31.4265, 74.4538),
                        zoom: 9,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };

                    var map = new google.maps.Map(document.getElementById("map"),
                        myOptions);

                    for (i = 0; i < locations.length; i++) {
                        var array = locations[i].split(",");
                        var name = array[0]
                        var lat = array[1]
                        var long = array[2]
                        var add = array[3]

                        latlngset = new google.maps.LatLng(lat, long);

                        var marker = new google.maps.Marker({
                            map: map, title: name, position: latlngset,
                            animation: google.maps.Animation.DROP
                        });
                        map.setCenter(marker.getPosition())

                        var content = "(<b> " + name + " </b>)" + add;
                        var infowindow = new google.maps.InfoWindow()

                        google.maps.event.addListener(marker, 'click', (function (marker, content, infowindow) {
                            return function () {
                                infowindow.setContent(content);
                                infowindow.open(map, marker);
                            };
                        })(marker, content, infowindow));

                    }




                },
                async: true
            });

            */

            // Get Regions List Related to Regional Head...

            @*$.ajax({
                type: "POST",
                data: { SaleOfficerID: $(this).val(), RegionalHeadID: $('option:selected', this).attr("data-RegionalHeadID") },
                url: "@Url.Action("GetAllRegionsListRelatedToSaleOfficer", "Retailer")",
                success: function (json) {

                    var $el = $("#region");
                    $el.empty(); // remove old options
                    $.each(json, function (value, key) {

                        $el.append($("<option></option>")
                                .val(key.RegionID).text(key.Name));
                    });

                    $("#region").trigger("change");
                }
            });*@


        });

        // Region
        $("#region").change(function () {


            GetPins();

            /*
            locations = [];


            $.ajax({
                type: "POST",
                url: "Url.Action("GetRetailerLocationsByRegion", "Retailer")",
                dataType: 'json',
                data: { RegionID: $("#region").val() },
                success: function (json) {

                    locations = [];

                    $.each(json, function (value, key) {

                        var array = key.Location.split(",");
                        locations.push("" + key.ShopName + "," + array[0] + "," + array[1] + "," + key.Address + "");
                        //alert(locations);
                    });
                    //alert(locations);
                    var marker, i

                    var myOptions = {
                        center: new google.maps.LatLng(31.4265, 74.4538),
                        zoom: 9,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };

                    var map = new google.maps.Map(document.getElementById("map"),
                        myOptions);

                    for (i = 0; i < locations.length; i++) {
                        var array = locations[i].split(",");
                        var name = array[0]
                        var lat = array[1]
                        var long = array[2]
                        var add = array[3]

                        latlngset = new google.maps.LatLng(lat, long);

                        var marker = new google.maps.Marker({
                            map: map, title: name, position: latlngset,
                            animation: google.maps.Animation.DROP
                        });
                        map.setCenter(marker.getPosition())

                        var content = "(<b> " + name + " </b>)" + add;
                        var infowindow = new google.maps.InfoWindow()

                        google.maps.event.addListener(marker, 'click', (function (marker, content, infowindow) {
                            return function () {
                                infowindow.setContent(content);
                                infowindow.open(map, marker);
                            };
                        })(marker, content, infowindow));

                    }




                },
                async: true
            });

            */

            // Get Regions List Related to Regional Head...

            @*$.ajax({
                type: "POST",
                data: { RegionID: $('option:selected', this).val() },
                url: "@Url.Action("GetAllCitiesListRelatedToRegion", "Retailer")",
                success: function (json) {

                    var $el = $("#city");
                    $el.empty(); // remove old options
                    $.each(json, function (value, key) {

                        $el.append($("<option></option>")
                                .val(key.ID).text(key.Name));
                    });

                    $("#city").trigger("change");
                }
            });*@

        });

        // City
        $("#city").change(function () {


            GetPins();

            /*
            locations = [];


            $.ajax({
                type: "POST",
                url: "Url.Action("GetRetailerLocationsByCity", "Retailer")",
                dataType: 'json',
                data: { CityID: $("#city").val() },
                success: function (json) {

                    locations = [];

                    $.each(json, function (value, key) {

                        var array = key.Location.split(",");
                        locations.push("" + key.ShopName + "," + array[0] + "," + array[1] + "," + key.Address + "");
                        //alert(locations);
                    });
                    //alert(locations);
                    var marker, i

                    var myOptions = {
                        center: new google.maps.LatLng(31.4265, 74.4538),
                        zoom: 9,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };

                    var map = new google.maps.Map(document.getElementById("map"),
                        myOptions);

                    for (i = 0; i < locations.length; i++) {
                        var array = locations[i].split(",");
                        var name = array[0]
                        var lat = array[1]
                        var long = array[2]
                        var add = array[3]

                        latlngset = new google.maps.LatLng(lat, long);

                        var marker = new google.maps.Marker({
                            map: map, title: name, position: latlngset,
                            animation: google.maps.Animation.DROP
                        });
                        map.setCenter(marker.getPosition())

                        var content = "(<b> " + name + " </b>)" + add;
                        var infowindow = new google.maps.InfoWindow()

                        google.maps.event.addListener(marker, 'click', (function (marker, content, infowindow) {
                            return function () {
                                infowindow.setContent(content);
                                infowindow.open(map, marker);
                            };
                        })(marker, content, infowindow));

                    }




                },
                async: true
            });

            */
        });



        $("#ward").change(function () {
            GetPins();
            // LoadAreas();


        });

            $("#btnReset").on("click", function () {

                //alert(0);

            });

            @*$("#reset").on("click", function () {
                //InitialMapCall();
                GetPins();


                // Refresh Dealers
                $.ajax({
                    type: "POST",
                    data: {},
                    url: "@Url.Action("GetAllDealers", "Retailer")",
                    success: function (json) {
                        var $el = $("#dealer");
                        $el.empty(); // remove old options
                        $el.append("<option>Select Any</option>");
                        $.each(json, function (value, key) {

                            $el.append($("<option></option>")
                                    .val(key.ID).text(key.Name));
                        });
                    }
                });

                // Refresh SalesOfficer
                $.ajax({
                    type: "POST",
                    data: {},
                    url: "@Url.Action("GetAllSalesOfficer", "Retailer")",
                    success: function (json) {

                        var $el = $("#saleOfficer");
                        $el.empty(); // remove old options
                        $el.append("<option>Select Any</option>");
                        $.each(json, function (value, key) {

                            $el.append($("<option></option>")
                                    .val(key.ID).text(key.Name));
                        });
                    }

                });


                // Refresh Regions
                $.ajax({
                    type: "POST",
                    data: {},
                    url: "@Url.Action("GetAllRegions", "Retailer")",
                    success: function (json) {

                        var $el = $("#region");
                        $el.empty(); // remove old options
                        $el.append("<option>Select Any</option>");
                        $.each(json, function (value, key) {

                            $el.append($("<option></option>")
                                    .val(key.RegionID).text(key.Name));
                        });
                    }

                });

                // Refresh Cities
                $.ajax({
                    type: "POST",
                    data: { DealerID: DealerID },
                    url: "@Url.Action("GetAllCities", "Retailer")",
                    success: function (json) {

                        var $el = $("#city");
                        $el.empty(); // remove old options
                        $el.append("<option>Select Any</option>");
                        $.each(json, function (value, key) {

                            $el.append($("<option></option>")
                                    .val(key.ID).text(key.Name));
                        });
                    }

                });

            });*@


            //function InitialMapCall() {

                //GetPins();
                /*
                $.ajax({
                    type: "POST",
                    url: "Url.Action("GetRetailerLocations", "Retailer")",
                    dataType: 'json',
                    data: {},
                    success: function (json) {

                        locations = [];

                        $.each(json, function (value, key) {

                            var array = key.Location.split(",");
                            locations.push("" + key.ShopName + "," + array[0] + "," + array[1] + "," + key.Address + "");
                            //alert(locations);
                        });
                        //alert(locations);
                        var marker, i

                        var myOptions = {
                            center: new google.maps.LatLng(31.4265, 74.4538),
                            zoom: 9,
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        };

                        var map = new google.maps.Map(document.getElementById("map"),
                            myOptions);

                        for (i = 0; i < locations.length; i++) {
                            var array = locations[i].split(",");
                            var name = array[0]
                            var lat = array[1]
                            var long = array[2]
                            var add = array[3]

                            latlngset = new google.maps.LatLng(lat, long);

                            var marker = new google.maps.Marker({
                                map: map, title: name, position: latlngset,
                                animation: google.maps.Animation.DROP
                            });
                            map.setCenter(marker.getPosition())

                            var content = "(<b> " + name + " </b>)" + add;
                            var infowindow = new google.maps.InfoWindow()

                            google.maps.event.addListener(marker, 'click', (function (marker, content, infowindow) {
                                return function () {
                                    infowindow.setContent(content);
                                    infowindow.open(map, marker);
                                };
                            })(marker, content, infowindow));

                        }




                    },
                    async: true
                });
                */
            //}

    });

</script>
