@model FOS.Shared.KSBComplaintData

@{
    ViewBag.Title = "WASA LAHORE | Today Complaints";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    #ChildStatus_paginate {
        margin-bottom: 7px;
    }

    .modal-title {
        padding-top: 17px;
        font-size: 21px;
        font-weight: normal;
        line-height: 12px;
        margin: 0;
        padding-bottom: 17px;
        font-family: 'MyriadPro-Regular';
    }


    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 20px;
        background-color: #1969b1;
    }

    .table-bordered th, .table-bordered td {
        border-left: 1px solid #ddd;
        vertical-align: middle;
    }

    .label {
        color: white;
    }

    .grid-item {
        color: white;
    }

    .modal {
        width: 1053px;
        height: auto;
    }
</style>
@*Upload Photo Start*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@*Upload Photo END*@
@*Calender for Filter Data START*@
<link href="~/Content/Style/Calender.css" rel="stylesheet" />
@*Calender for Filter Data END*@




<h3 class="page-title"></h3>
<div class="widget-title text-center" style=" background-color: #1969b1;">
    <h4><strong> All Complaints Detail</strong></h4><hr style="margin:13px;" />
</div>
<div class="grid-container">
    <div class="grid-item">
        <label>From Date:</label>
        <div class="controls">
            <input class="text-box single-line" id="StartingDate1" autocomplete="off" name="StartingDate1" style="height: 22px; width: 202px; margin-bottom: 0px;" placeholder="DD-MM-YYYY">
        </div>
    </div>
    <div class="grid-item">
        <label>To Date:</label>
        <div class="controls">
            <input class="text-box single-line" id="StartingDate2" autocomplete="off" name="StartingDate2" style="height: 22px; width: 202px; margin-bottom: 0px;" placeholder="DD-MM-YYYY">
        </div>
    </div>
    <div class="grid-item">
        <label>Project:</label>
        <div class="controls" style="margin-left: 0px">
                @Html.DropDownListFor(model => model.ProjectId, new SelectList(Model.Projects, "ID", "Name"), new { @class = "" })
                @Html.ValidationMessageFor(model => model.ProjectId)
                @Html.HiddenFor(model => model.ProjectId)
            </div>        
    </div>
    <div class="grid-item" style="margin-top: 28px;">
        <button type="submit" id="ApplyFilter" class="btn btn-primary">
            <i class="icon-ok icon-white" style="padding-right: 2px"></i><span style="width:50px"><strong>Apply Filter</strong></span>
        </button>
        <button type="submit" id="Clear" class="btn btn-primary">
            <i class="icon-remove icon-white" style="padding-right: 2px"></i><span style="width:50px"><strong>Clear</strong></span>
        </button>
        <button id="StartAutoPagination" class="btn btn-primary">
            <i class="icon-ok icon-white" style="padding-right: 2px"></i><span style="width:50px"><strong> Start AP</strong></span>
        </button>
        <button id="EndAutoPagination" class="btn btn-primary">
            <i class="icon-remove icon-white" style="padding-right: 2px"></i><span style="width:50px"><strong>Stop AP</strong></span>
        </button>
    </div>



</div>
<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered" id="datatab">
        <thead>
            <tr class="align-center" style="background-color:#1969b1; color:white;">
                <th>Sr #</th>
                <th>Complaint No</th>
                <th>Site ID</th>
                <th>Site Name</th>
                <th>Fault Type/      Fault Type Detail</th>
                <th>Complaint Type</th>
                <th>Launched By</th>
                <th>Launched At</th>
                <th>Elapsed Time (HH:MM)</th>
                <th id="StatusColumn">Complaint Status</th>
                <th id="StatusColumn">Progress Status</th>
                <th id="StatusColumn">Updated At </th>
                <th style="width:70px;">Detail/Remarks</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div id="myModal" class="modal fade" role="dialog" style="top:7%; display:none;">

    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color: #1969b1;">
                <button type="button" class="close" style="color:white;" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-weight: 900;color: white;"><strong>View Complaint Detail</strong></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="span12">
                        <div class="span6" style="border-style: groove; padding: 10px;margin-bottom: 10px;">
                            <div class="span12">
                                <h4 class="modal-title text-center" style="font-weight: 900;color: black; padding-bottom: 0px;"><strong> Actual Complaint's Status</strong></h4>
                                <hr />
                            </div>
                            <div class="span12">

                                <div class="span5" style="margin-left:0px;"><label>Site Code:</label></div>
                                <div class="span7" id="ActualSiteCode" style="margin-left:0px;"></div>

                                <div class="span5" style="margin-left:0px;"><label>Site Name:</label></div>
                                <div class="span7" id="ActualSiteName" style="margin-left:0px;"></div>

                                <div class="span5" style="margin-left:0px;"><label>Complaint No:</label></div>
                                <div class="span7" id="ActualComplaintNo" style="margin-left:0px;"></div>

                                <div class="span5" style="margin-left:0px;"><label>Launch Time:</label></div>
                                <div class="span7" id="ActualLaunchTime" style="margin-left:0px;"></div>

                                <div class="span5" style="margin-left:0px;"><label>Launched By:</label></div>
                                <div class="span7" id="ActualLaunchBy" style="margin-left:0px;"></div>

                                <div class="span5" style="margin-left:0px;"><label>Fault Type:</label></div>
                                <div class="span7" id="ActualFaultType" style="margin-left:0px;"></div>

                                <div class="span5" style="margin-left:0px;"><label>Fault Type Detail:</label></div>
                                <div class="span7" id="ActualFaultTypeDetail" style="margin-left:0px;"></div>

                                <div class="span5" style="margin-left:0px;"><label>Complaint Status:</label></div>
                                <div class="span7" id="ActualComplaintStatus" style="margin-left:0px;"></div>

                                <div class="span5" style="margin-left:0px;"><label>Contact Person:</label></div>
                                <div class="span7" id="ActualPersonName" style="margin-left:0px;"></div>

                                <div class="span5" style="margin-left:0px;"><label>Initial Remarks:</label></div>
                                <div class="span7" id="ActualInitialRemarks" style="margin-left:0px;"></div>

                            </div>
                            <div class="span12">
                                <div class="span6" style="margin-left:0px; margin-bottom:0px; border-style: groove;">
                                    <img src="~/Images/no-image-available.png.jpg" style="width:221px; height:215px;" id="ActualPicture1" />
                                </div>
                                <div class="span6" style="margin-left:6px; border-style: groove;">
                                    <img src="~/Images/no-image-available.png.jpg" style="width:221px; height:215px;" id="ActualPicture2" />
                                </div>




                            </div>
                        </div>
                        <div class="span6" style="border-style: groove; padding: 10px;margin-bottom: 10px;">
                            <div class="span12">
                                <h4 class="modal-title text-center" style="font-weight: 900;color: black; padding-bottom: 0px;"><strong>Complaint's Current Status</strong></h4>
                                <hr />
                            </div>
                            <div class="span12">

                                <div class="span5" style="margin-left:0px;"><label>Site Code:</label></div>
                                <div class="span7" id="SiteCode" style="margin-left:0px;"></div>

                                <div class="span5" style="margin-left:0px;"><label>Site Name:</label></div>
                                <div class="span7" id="SiteName" style="margin-left:0px;"></div>

                                <div class="span5" style="margin-left:0px;"><label>Complaint No:</label></div>
                                <div class="span7" id="ComplaintNo" style="margin-left:0px;"></div>

                                <div class="span5" style="margin-left:0px;"><label>Launch Time:</label></div>
                                <div class="span7" id="LaunchTime" style="margin-left:0px;"></div>

                                <div class="span5" style="margin-left:0px;"><label>Launched By:</label></div>
                                <div class="span7" id="LaunchBy" style="margin-left:0px;"></div>

                                @*<div class="span5" style="margin-left:0px;"><label>Complaint Type:</label></div>
                                    <div class="span7" id="ComplaintType" style="margin-left:0px;"></div>*@

                                <div class="span5" style="margin-left:0px;"><label>Fault Type:</label></div>
                                <div class="span7" id="FaultType" style="margin-left:0px;"></div>

                                <div class="span5" style="margin-left:0px;"><label>Fault Type Detail:</label></div>
                                <div class="span7" id="FaultTypeDetail" style="margin-left:0px;"></div>

                                @*<div class="span5" style="margin-left:0px;"><label>Contact Person:</label></div>
                                    <div class="span7" id="Name" style="margin-left:0px;"></div>*@

                                @*<div class="span5" style="margin-left:0px;"><label>Initial Remarks:</label></div>
                                    <div class="span7" id="InitialRemarks" style="margin-left:0px;"></div>*@

                                <div class="span5" style="margin-left:0px;"><label>Complaint Status:</label></div>
                                <div class="span7" id="ComplaintStatus" style="margin-left:0px;"></div>

                                <div class="span5" style="margin-left:0px;"><label>Progress Status:</label></div>
                                <div class="span7" id="ProgressStatusName" style="margin-left:0px;"></div>

                                <div class="span5" style="margin-left:0px;"><label>Updated At:</label></div>
                                <div class="span7" id="LastUpdated" style="margin-left:0px;"></div>


                                @*<div class="span5" style="margin-left:0px;"><label>Progress Remarks:</label></div>
                                    <div class="span7" id="ProgressStatusOtherRemarks" style="margin-left:0px;"></div>*@

                            </div>
                            <div class="span12">
                                <div class="span6" style="margin-left:0px; margin-bottom:0px; border-style: groove;">
                                    <img src="~/Images/no-image-available.png.jpg" style="width:221px; height:215px;" id="Picture1" />
                                </div>
                                <div class="span6" style="margin-left:6px; border-style: groove;">
                                    <img src="~/Images/no-image-available.png.jpg" style="width:221px; height:215px;" id="Picture2" />
                                </div>




                            </div>
                        </div>

                    </div>
                    <div class="span12" style=" margin-left: 0px; border-style: groove;margin-bottom: 20px;">
                        <div class="widget-title text-center" style=" background-color: #1969b1;">
                            <h4><strong>Client Remarks</strong></h4>
                        </div>
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr class="align-center" style="background-color:#1969b1; color:white;">
                                    <th style="text-align: center; width: 164px;">Date Time</th>
                                    <th style="text-align: center; width: 164px;">Name</th>
                                    <th style="text-align: center;">Remarks</th>
                                </tr>
                            </thead>
                            <tbody id="RemarksData"></tbody>
                        </table>
                    </div>
                    <div class="span12" style=" margin-left: 0px; border-style: groove;margin-bottom: 20px;">
                        <div class="widget-title text-center" style=" background-color: #1969b1;">
                            <h4><strong> Child Progress Detail</strong></h4>
                        </div>
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr class="align-center" style="background-color:#1969b1; color:white;">
                                    <th style="text-align: center;">Date Time</th>
                                    <th style="text-align: center;">Fault Type/Fault Type Detail</th>
                                    <th style="text-align: center;">Complaint Status</th>
                                    <th style="text-align: center;">Progress Status</th>
                                    <th style="text-align: center;">Progress Remarks</th>
                                    <th style="text-align: center; width:131px;">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="ChildStatus"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="AddRemarksModel" class="modal fade" role="dialog" style="top:35%; -webkit-border-radius: 0px; left:35%; width:430px; display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #1969b1;">
                <button type="button" class="close" style="color:white;" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-weight: 900;color: white;"><strong>Add Remarks</strong></h4>
            </div>
            <div class="modal-body" style="padding: 12px 23px 40px;">
                <div class="form-group">
                    <div class="control-group">
                        <label class="control-label">Remarks:*</label>
                        <div class="controls">
                            <div class="span12">
                                <div class="span12">
                                    <input  class="hidden" id="ComplaintIdAddRemark"/>
                                    <textarea cols="20" id="AddRemark" name="AddRemark" placeholder="Enter Remarks:" rows="2" style="height:100px; width:370px; margin: 0px 0px 10px;"></textarea>
                                </div>
                                <div class="span12">
                                    <div class="control-group text-center" style="margin-top: 4px;">
                                        <button class="btn btn-primary"><i class="icon-ok icon-white"></i><span onclick="AddRemarksCreate()"> Add</span></button>
                                        <button type="button" id="ResetRemarks" class="btn btn-info"><i class="icon-ban-circle icon-white"></i><span></span> Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ViewChildRecord" class="modal fade" role="dialog" style="top:30%; left:15%; display:none; width: 828px; display:none;">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #1969b1;">
                <button type="button" class="close" style="color:white;" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-weight: 900;color: white;"><strong>View Child Detail</strong></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="span12">
                        <div class="span12" style="border-style: solid; padding: 10px;margin-bottom: 10px;">
                            <div class="span8">
                                <div class="span5" style="margin-left:0px;"><label>Date Time:</label></div>
                                <div class="span5" id="ChildViewDateTime" style="margin-left:0px;"></div>

                                <div class="span5" style="margin-left:0px;"><label>Fault Type/Fault Type Detail:</label></div>
                                <div class="span5" id="ChildViewFaultTypeFaultTypeDetail" style="margin-left:0px; "></div>

                                <div class="span5" style="margin-left:0px;"><label>Complaint Status:</label></div>
                                <div class="span5" id="ChildViewComplaintStatus" style="margin-left:0px; "></div>

                           

                                <div class="span5" style="margin-left:0px;"><label>Progress Status:</label></div>
                                <div class="span5" id="ChildViewProgressStatus" style="margin-left:0px; "></div>

                                <div class="span5" style="margin-left:0px;"><label>Progress Remarks:</label></div>
                                <div class="span5" id="ChildViewProgressRemarks" style="margin-left:0px; "></div>
                            </div>
                            <div class="span4">

                                <div class="span6" style="margin-left:0px; border-style: solid;margin-right: 5px;">
                                    <img src="~/Images/no-image-available.png.jpg" style="width:150px; height:135px;" id="ChildViewPicture1" />

                                </div>
                                <div class="span6" style="margin-left:0px; border-style: solid;">
                                    <img src="~/Images/no-image-available.png.jpg" style="width:150px; height:135px;" id="ChildViewPicture2" />
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script>


    $(document).ready(function () {


        GenerateDetailGrid();

          //Calender Start
        $('input[name=StartingDate1]').css({ "height": "22px", "width": "202px", "margin-bottom": "0px" });
        $('input[name=StartingDate1]').datepicker({ dateFormat: "dd-MM-yy" });
        $("input[name=StartingDate1]").trigger('change');

        $('input[name=StartingDate2]').css({ "height": "22px", "width": "202px", "margin-bottom": "0px" });
        $('input[name=StartingDate2]').datepicker({ dateFormat: "dd-MM-yy" });
        $("input[name=StartingDate2]").trigger('change');
         //Calender END

    });
    function GenerateDetailGrid() {

        var table = $('#datatab').DataTable
            ({
                "aLengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
                "iDisplayLength": 10,
                "lengthChange": false,
                "pagingType": "full_numbers",
                "info": true,
                "serverSide": true,
                "bRetrieve": true,
                "bDestroy": true,
                "autoWidth": true,
                "ajax":
                {
                    "type": "POST",
                    "url": '@Url.Action("HomeComplaintsDataHandler", "RetailerOrders")',
                    "contentType": 'application/json; charset=utf-8',
                    'data': function (data) {
                        data.StartingDate1 = $('#StartingDate1').val();
                        data.StartingDate2 = $('#StartingDate2').val();
                        data.ProjectId = $('#ProjectId').val();
                        return data = JSON.stringify(data);
                    },
                },
                "fnDrawCallback": function (osetting) {
                    $("#Clear").click(function () {
                        From = $('#StartingDate1').val("");
                        To = $('#StartingDate2').val("");
                        Project = $('#ProjectId').val("");
                        table.clear().draw();
                    });
                    $("#ApplyFilter").click(function () {
                        table.clear().draw();
                    });


                $(".Detail").on("click", function () {
                    var ComplaintID = ($(this).attr("data-id"));
                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("GetActualComplaintDetail", "Complaint")",
                        data: { ComplaintId: ComplaintID },
                        success: function (Response)
             {
                            $("#ActualSiteCode").html(Response.SiteCode);
                            $("#ActualSiteName").html(Response.SiteName);
                            $("#ActualComplaintNo").html(Response.TicketNo);
                            $("#ActualLaunchTime").html(Response.CreatedDate);
                            $("#ActualLaunchBy").html(Response.LaunchedByName);
                            $("#ActualFaultType").html(Response.FaultTypeName);
                            $("#ActualFaultTypeDetail").html(Response.FaultTypesDetailName);
                            $("#ActualPersonName").html(Response.Name);
                            $("#ActualInitialRemarks").html(Response.Remarks);
                            $("#ActualComplaintStatus").html(Response.StatusName);
                            if (Response.Picture1 == "" || Response.Picture1== null || Response.Picture1 == "null")
                            {
                                $("#ActualPicture1").attr('src', "/Images/KSB_Logo.png");

                            }
                            else
                            {
                                $("#ActualPicture1").attr('src', Response.Picture1);
                            }
                            if (Response.Picture2 == "" || Response.Picture2 == null || Response.Picture2 == "null")
                            {
                                $("#ActualPicture2").attr('src', "/Images/KSB_Logo.png");

                             }
                            else
                            {
                                $("#ActualPicture2").attr('src', Response.Picture2);

                            }
            }
                    });
                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("GetCurrentComplaintDetail", "Complaint")",
                        data: { ComplaintId: ComplaintID },
                        success: function (Response)
             {
                            $("#myModal").css("display", "block");
                            $("#UpdateDateTimeComplaintID").val(Response.ID);
                            $("#SiteCode").html(Response.SiteCode);
                            $("#SiteName").html(Response.SiteName);
                            $("#ComplaintNo").html(Response.TicketNo);
                            $("#LaunchTime").html(Response.CreatedDate);
                            $("#LaunchBy").html(Response.LaunchedByName);
                            $("#FaultType").html(Response.FaultTypeName);
                            if (Response.FaultTypesDetailName == null || Response.FaultTypesDetailName == "") {
                                $("#FaultTypeDetail").html("null");
                            }
                            else {
                                $("#FaultTypeDetail").html(Response.FaultTypesDetailName);
                            }
                            $("#ComplaintStatus").html(Response.StatusName);
                            if (Response.ProgressStatusName == null || Response.ProgressStatusName == "") {
                                $("#ProgressStatusName").html("null");
                            }
                            else {
                                $("#ProgressStatusName").html(Response.ProgressStatusName);
                            }
                            $("#LastUpdated").html(Response.LastUpdated);
                            //$("#ProgressStatusOtherRemarks").html(Response.ProgressStatusOtherRemarks);
                            //$("#Name").html(Response.Name);
                            //$("#InitialRemarks").html(Response.Remarks);
                            //$("#ComplaintType").html(Response.ComplaintType);
                            if (Response.Picture1 != null)
                            {
                                $("#Picture1").attr('src',Response.Picture1);
                            }
                            else
                            {
                                $("#Picture1").attr('src', "/Images/KSB_Logo.png");
                            }
                            if (Response.Picture2 != null)
                            {
                                $("#Picture2").attr('src', Response.Picture2);
                             }
                            else
                            {
                                $("#Picture2").attr('src', "/Images/KSB_Logo.png");
                            }
            }
                    });
                    $.ajax({
                        type: "POST",
                        data: { ComplaintId: ComplaintID },
                        url: "@Url.Action("GetComplaintClientRemarks", "Complaint")",
                        dataType: 'JSON',
                        success: function (Response)
                        {
                            $("#RemarksData").empty();
                            if (Response.length == 0)
                            {
                                var divHtml1 = $('<tr>').html("<td style='text-align:center;' colspan='3'>" + "<strong>No Any Client Remark Found Against This complaint</strong>" + "</td>");

                                $("#RemarksData").append(divHtml1);
                            }
                            else
                            {
                                $.each(Response, function (i, item) {
                                    var divHtml = $('<tr>').html("<td style='text-align:center;'>" + item.DateTime + "</td><td style='text-align:center;'>" + item.RemarksByName + "</td><td style='text-align:center;'>" + item.ClientRemarks + "</td>");
                                    $("#RemarksData").append(divHtml);
                                });
                            }
                        }

                    });
                    $.ajax({
                        type: "POST",
                        data: { ComplaintId: ComplaintID },
                        url: "@Url.Action("GetComplaintChildData", "Complaint")",
                        dataType: 'JSON',
                        success: function (Response)
                        {
                            $("#ChildStatus").empty();
                            $.each(Response, function (i, item) {
                                var divHtml = $('<tr>').html("<td style='text-align:center;'>" + item.DateTime + "</td><td style='text-align:center;'>" + item.FaultTypeFinalName + "</td><td style='text-align:center;'>" + item.ComplaintStatus + "</td><td style='text-align:center;'>" + item.ProgressStatusName + "</td><td style='text-align:center;'>" + item.ProgressRemarks + "</td><td style='text-align:center;'>" + "<a href='#' class='btn text-center' style='background-color:#1969b1; margin-right:5px; margin-bottom:5px; color:white;' onclick='ChildView(" + item.ProgressID + ")' ><b>View</b></a></td>");

                                //var divHtml = $('<tr>').html("<td style='text-align:center;'>" + item.DateTime + "</td><td style='text-align:center;'>" + item.FaultTypeFinalName + "</td><td style='text-align:center;'>" + item.ComplaintStatus + "</td><td style='text-align:center;'>" + item.ProgressStatusName + "</td><td style='text-align:center;'>" + item.ProgressRemarks + "</td><td style='text-align:center;'>" + "<a href='#' class='btn text-center' style='background-color:#1969b1; margin-right:5px; margin-bottom:5px; color:white;' onclick='ChildView(" + item.ProgressID + ")' ><b>View</b></a>" + "</td>");
                                    $("#ChildStatus").append(divHtml);
                                });

                        }

                    });
                    $('html, body').animate({
                        scrollTop: $("#main-content").offset().top
                    }, 500);
                });



        },
                "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                    //$("td:first", nRow).html(iDisplayIndex + 1);
                    if (aData["StatusID"] == "3") {
                        $(nRow).find('td:eq(8)').css('background-color', '#A0B978');
                        $(nRow).find('td:eq(8)').css('color', 'white');

                        // $('td', nRow).css('background-color', 'Green');
                    }
                    if (aData["StatusID"] == "4") {
                        $(nRow).find('td:eq(8)').css('background-color', '#F0E801');
                        $(nRow).find('td:eq(8)').css('color', 'black');

                    }
                    if (aData["ComplaintTypeName"] == "Major") {
                        //$(nRow).find('td:eq(5)').css('background-color', 'red');
                        $(nRow).find('td:eq(4)').css('color', 'red');
                    }
                    if (aData["Exceed"] == "1") {
                        //$(nRow).find('td:eq(5)').css('background-color', 'red');
                        $(nRow).find('td:eq(7)').css('color', 'red');
                    }
                    return nRow;
                },
                "searching": false,
                "processing": true,
                "deferRender": true,
                "bSelect": true,
                "columns": [
                    { "data": "ID", "sClass": "center-align-td", "bVisible": false },
                    { "data": "TicketNo", "sClass": "center-align-td" },
                    { "data": "SiteCode", "sClass": "center-align-td"},
                    { "data": "RetailerName", "sClass": "center-align-td" },
                    { "data": "FaultTypeFinalName", "sClass": "center-align-td" },
                    { "data": "ComplaintTypeName", "sClass": "center-align-td", },
                    { "data": "SaleOfficerName", "sClass": "center-align-td" },
                    { "data": "dateformat", "sClass": "center-align-td", },
                    { "data": "VisitDateFormatted", "sClass": "center-align-td", },
                    { "data": "StatusName", "sClass": "center-align-td", },
                    { "data": "ProgressStatus", "sClass": "center-align-td" },
                    { "data": "UpdatedAt", "sClass": "center-align-td", },
                    {
                        "sClass": "center-align-td",
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (data, type, row)
                        {
                            //return '<button class="btn Detail" style="background-color: #1969b1; color:white; margin-bottom: 5px;" data-id=' + '"' + row.ID + '"' + ' data-toggle="modal" data-target="#myModal" >' + 'Detail' + '</button>';

                            return '<button class="btn Detail bold" style="background-color: #1969b1; color:white; margin-bottom: 5px;" data-id=' + '"' + row.ID + '"' + ' data-toggle="modal" data-target="#myModal" >' + 'Detail' + '</button>&nbsp;<button class="btn bold" style="background-color: #1969b1; color:white; margin-bottom: 5px;" onclick="AddRemarks(' + row.ID + ')">' + 'Remarks' + '</button>';
                            //return '<a href="#" class="Detail" data-id=' + '"' + row.ID + '"' + ' data-toggle="modal" data-target="#myModal" ><i class="fa fa-info-circle" style="font-size:20px;"></i></a>' + '<span style="font-size:25px;">|</span><a href="#" class="Detail" data-id=' + '"' + row.ID + '"' + ' data-toggle="modal" data-target="#myModal" ><i class="fa fa-plus-circle" style="font-size:20px;"></i></a>' + '<span style="font-size:25px;">|</span><a href="#" class="Detail" data-id=' + '"' + row.ID + '"' + ' data-toggle="modal" data-target="#myModal" ><i class="fa fa-comments" style="font-size:20px;"></i></a>' + '<span style="font-size:25px;">|</span><a href="#" class="Detail" data-id=' + '"' + row.ID + '"' + ' data-toggle="modal" data-target="#myModal" ><i class="fa fa-edit" style="font-size:20px;"></i></a>';

                        }
                    }
                ], "order": [0, "desc"]

            });

        var interval=  setInterval(function () {
            var info = table.page.info();
            var pageNum;
            if (info.end != info.recordsDisplay) {
                 pageNum = (info.page < info.pages) ? info.page + 1 : 1;
            }
            else
            {
                pageNum = 0;
            }
            table.page(pageNum).draw(false);
        }, 30000);

        $('#EndAutoPagination').click(function () {
            clearInterval(interval);
        });
        $('#StartAutoPagination').click(function () {
            setInterval(function () {
                var info = table.page.info();
                var pageNum;
                if (info.end != info.recordsDisplay) {
                    pageNum = (info.page < info.pages) ? info.page + 1 : 1;
                }
                else {
                    pageNum = 0;
                }
                table.page(pageNum).draw(false);
            }, 30000);
        });
      
    }
    function ChildView(ProgressID) {
        var url = "/Complaint/GetProgressIDData?ProgressID=" + ProgressID;
        $("#ViewChildRecord").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (Response) {
                $("#ViewChildRecord").css("display", "block");
                $("#ChildViewDateTime").html(Response.DateTime);
                $("#ChildViewFaultTypeFaultTypeDetail").html(Response.FaultTypeFinalName);
                $("#ChildViewComplaintStatus").html(Response.ComplaintStatus);
                $("#ChildViewProgressStatus").html(Response.ProgressStatusName);
                $("#ChildViewProgressRemarks").html(Response.ProgressRemarks);
                if (Response.Picture1 != null) {
                    $("#ChildViewPicture1").attr('src', Response.Picture1);
                }
                else
                {
                    $("#ChildViewPicture1").attr('src', "/Images/KSB_Logo.png");
                }
                if (Response.Picture2 != null)
                {
                    $("#ChildViewPicture2").attr('src', Response.Picture2);
                }
                else
                {
                    $("#ChildViewPicture2").attr('src', "/Images/KSB_Logo.png");
                }



            }
        })
    }

    //Add Remarks Start

    function AddRemarks(ComplaintID)
    {
        $("#AddRemarksModel").modal();
        $("#ComplaintIdAddRemark").val(ComplaintID);
        $('html, body').animate({
            scrollTop: $("#main-content").offset().top
        }, 500);
    }
    function AddRemarksCreate() {
        var data = new FormData();
        data.append("ComplaintId", $("#ComplaintIdAddRemark").val());
        data.append("ClientRemarks", $("#AddRemark").val());
        var settings = {
            type: "Post",
            url: "/Home/SaveClientRemarks",
            contentType: false,
            processData: false,
            cache: false,
            data: data,
            success: function (result) {
                if (result == true) {
                    $('#AddRemarksModel').modal('hide');
                    alertify.success("Remarks Added Successfully.");
                    $("#AddRemark").val("");
                }
                if (result == false) {
                    alertify.error("Remarks Not Added Successfully.");
                }
            }
        };
        $.ajax(settings);
        return false;
    }
    $('#ResetRemarks').click(function () {
        $("#AddRemark").val("");
    });
    //Add Remarks END


</script>
